{% extends 'frontbase.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="register">
        <div class="wrap">

            {{ form_start(registrationForm) }}
            <h1>Inscription</h1>
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email.first) }}
            {{ form_row(registrationForm.email.second) }}
            {{ form_row(registrationForm.password.first) }}
            {{ form_row(registrationForm.password.second) }}

            <input type="submit" value="Inscription">
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
