{% extends 'dashboard.html.twig' %}

{% block title %}Instrument index{% endblock %}

{% block body %}

    <h1> Instruments </h1>

<div id="content-wrapper">

      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i> Liste des instruments <a href="{{ path('instrument_new') }}">Create new</a></div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Edition</th>
                    <th>Supression</th>
                  </tr>
                </thead>
                <tbody>
                {% for instrument in instruments %}
                    <tr>
                        <td>{{ instrument.id }}</td>
                        <td>{{ instrument.nom }}</td>
                        <td>{{ instrument.categorie }}</td>
                        <td><button class="btn btn-info"><a href="{{ path('instrument_edit', {'id': instrument.id}) }}">edit</a>< button></td>
                        <td>{{ include('instrument/_delete_form.html.twig') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
          </div>
        </div>
{% endblock %}
