{% extends 'frontbase.html.twig' %}

{% block body %}

    <header id="header">

        {#<div class="logo_container">#}
        {#<img src="{{ asset('assets/img/logo.png') }}" alt="logo band together" class="logo">#}
        {#</div>#}

        <nav>
            <ul>
                <li><a href="#top">Accueil</a></li>
                <li><a href="#about">A propos</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                {% if (is_granted('ROLE_ADMIN') == true) %}
                    <li><a href="{{ path('dashboard') }}">Admin</a></li>
                {% endif %}
                {% if  (is_granted('ROLE_USER') == false) and (is_granted('ROLE_ADMIN') == false)  %}
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a href="{{ path('register') }}">Inscription</a></li>
                {% else %}
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <section class="home px_bg1">

        <h1>Band Together</h1>
        <a href="#about"><i class="fas fa-angle-double-down"></i></a>
    </section>

    <section id="about" class="about">
        <div class="wrap">
            <p class="section_text">
                vous êtes musiciens ?  marre de jouer en solo ?  vous cherchez un groupe ? ou simplement une meilleur visibilité ? avec Band-Together vous êtes a la bonne adresse.enregistrez-vous entrez vos instruments et votre niveau  puis vous trouverez facilement les musiciens de votre secteur prêt à jouer avec vous il n’y a plus qua les contacter, enjoy U+1F642</p>
        </div>
        <a href="#services"><i class="fas fa-angle-double-down"></i></a>
    </section>

    <div class="px_bg2"></div>

    <section id="services" class="services">
        <div class="wrap">
                <p class="section_text">Les Loutres, Lutrinae, sont une sous-famille de mammifères carnivores de la famille des Mustelidés. Il existe plusieurs espèces de loutres, caractérisées par de courtes pattes, des doigts griffus et palmés (aux pattes avant et arrière) et une longue queue.

                    Cette sous-famille a été décrite pour la première fois en 1838 par le zoologiste Charles-Lucien Bonaparte.

                    Dans de nombreux pays les loutres ont disparu de tout ou partie de leurs aire naturelle de répartition, de même que les castors qui partageaient leur milieu de vie. Ces deux espèces-clé font l'objet depuis un siècle environ de protection et de programmes ou projets de réintroduction2 ou confortement de populations par translocation3. La loutre étant particulièrement discrète elle fait souvent l'objet d'un suivi par recherche d'indice (poils, marquage de territoire, pièges photographiques) et d'un suivi télémétrique par puce électronique4,5.</p>
        </div>
        <a href="#news"><i class="fas fa-angle-double-down"></i></a>
    </section>
    <div class="px_bg4"></div>
    <section class="news" id="news">
        <div class="wrap">
                <p class="section_text">Les pélicans sont de grands oiseaux (de 105 à 350 cm) aquatiques piscivores caractérisés par un grand bec muni d'une volumineuse poche extensible.

                Cosmopolites à l'exception des hautes latitudes, les pélicans fréquentent les étendues d'eau libre, à la fois sur les côtes et à l'intérieur des terres, depuis les régions tropicales jusqu'aux zones tempérées chaudes.


                Pélican nageant au large de Cuba

                Un pélican dans le « Bangabandhu Sheikh Mujib Safari Park » au Bangladesh. Mai 2018.
                Position systématique
                Le placement traditionnel des pélicans dans l'ordre des Pelecaniformes a été remis en question par la classification de Sibley-Ahlquist, qui les rangeait dans l'ordre élargi des ciconiidaes.

                Le Bec-en-sabot du Nil (Balaeniceps rex) a longtemps été classé dans cette famille, mais des études génétiques ont montré qu'il devait être placé dans une famille séparée, celle des Balaenicipitidae.</p>
        </div>
        <a href="#contact"><i class="fas fa-angle-double-down"></i></a>
    </section>

    <div class="px_bg3"></div>

    <section class="contact" id="contact">
        <div class="wrap">
            <p class="section_text">
                La licorne, parfois nommée unicorne, est une créature légendaire à corne unique. Son origine, controversée, résulte de multiples influences, en particulier de descriptions d'animaux tels que le rhinocéros et l'antilope, issues de récits d'explorateurs. Les premières représentations attestées d'animaux unicornes remontent à la civilisation de l'Indus. Le récit sanskrit d'Ekasringa et les routes commerciales pourraient avoir joué un rôle dans leur diffusion vers le Proche-Orient.

                Connue dans l'Occident chrétien depuis l'Antiquité grecque par des récits de voyageurs en Perse et en Inde, sous le nom de « monocéros », la licorne occidentale se distingue de ses consœurs asiatiques par son apparence, son symbolisme et son histoire. Sous l'influence du Physiologus, les bestiaires occidentaux et leurs miniatures la décrivent comme un animal sylvestre très féroce, symbole de pureté et de grâce, attiré par l'odeur de la virginité. Le récit de sa chasse, durant laquelle une jeune fille vierge aide les chasseurs à la capturer, se diffuse dans tout l'Occident chrétien ainsi qu'une partie du monde musulman. La représentation physique de la licorne occidentale se fixe
                </p>
        </div>
    </section>

    <div class="px_bg5"></div>



{% endblock %}
