{% extends 'frontbase.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <section class="home px_bg1">
        <a href="{{ path('home') }}#about"><h2 class="first">La musique se partage...</h2></a>
        <h1>Band Together</h1>
        <a href="{{ path('home') }}#news"><h2 class="second">...Ne jouez plus seul</h2></a>
        <a href="#about"><i class="fas fa-angle-double-down"></i></a>
    </section>

    <section id="about" class="about">
        <div class="wrap">
            <p class="first">Vous en avez marre de jouer seul ? Vous avez envie de partager votre passion de la musique ?</p>
            <p class="second">Avec Band Together mettez au placard votre pédale de loop et vos 18 instruments ! En quelques clics simplement, inscrivez vous pour trouver des musiciens près de chez vous et organisez des boeufs d'enfer !</p>
            <p class="third">De l'entrainement de fond du garage, à la répétition pro, que vous soyez débutant ou que la musique soit votre métier, trouvez les partenaires qui vous correspondent, pour monter un groupe ou simplement vous amusez occasionnellement...</p>
            <a class="registration" href="{{ path('register') }}">Je m'inscris !</a>

        </div>
        <a href="#news"><i class="fas fa-angle-double-down"></i></a>
    </section>

    <div class="px_bg4"></div>
    <section class="news" id="news">
        <div class="wrap">
                <p class="first">Restez connecté, ne ratez pas les nouveaux membres de votre région !</p>
                <h3>Derniers musiciens inscrits :</h3>

                <div class="last_users_container">
                    {% for lastUser in lastUsers %}
                        <div class="last_users_item">
                            <p>{{ lastUser.username }}</p>
                            <p>{{ lastUser.departement.nom }}</p>
                        </div>
                    {% endfor %}
                </div>
        </div>
        
        <a href="#contact"><i class="fas fa-angle-double-down"></i></a>
    </section>

    <div class="px_bg3"></div>

    <section class="contact" id="contact">
        <div class="wrap">
            <p class="section_text">
                La licorne, parfois nommée unicorne, est une créature légendaire à corne unique. Son origine, controversée, résulte de multiples influences, en particulier de descriptions d'animaux tels que le rhinocéros et l'antilope, issues de récits d'explorateurs. Les premières représentations attestées d'animaux unicornes remontent à la civilisation de l'Indus. Le récit sanskrit d'Ekasringa et les routes commerciales pourraient avoir joué un rôle dans leur diffusion vers le Proche-Orient.

                Connue dans l'Occident chrétien depuis l'Antiquité grecque par des récits de voyageurs en Perse et en Inde, sous le nom de « monocéros », la licorne occidentale se distingue de ses consœurs asiatiques par son apparence, son symbolisme et son histoire. Sous l'influence du Physiologus, les bestiaires occidentaux et leurs miniatures la décrivent comme un animal sylvestre très féroce, symbole de pureté et de grâce, attiré par l'odeur de la virginité. Le récit de sa chasse, durant laquelle une jeune fille vierge aide les chasseurs à la capturer, se diffuse dans tout l'Occident chrétien ainsi qu'une partie du monde musulman. La représentation physique de la licorne occidentale se fixe
                </p>
        </div>
        <a href="#footer"><i class="fas fa-angle-double-down"></i></a>
    </section>

    {#<div class="px_bg5"></div>#}
    <footer id="footer">
        <div class="wrap">
            <div class="footer_container">
                <div class="footer_item footer_item1">
                    <h2>Guide</h2>
                    <ul>
                        <li><a href="#">Comment utiliser band together ?</a></li>
                        <li><a href="#">Besoin d'aide ?</a></li>
                        <li><a href="#">Castorification 666</a></li>
                    </ul>
                </div>
                <div class="footer_item footer_item2">
                    <h2>Suivez nous !</h2>
                    <ul>
                        <li><a href="#"><img src="assets/img/ico_facebook.png" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/ico_twitter.png" alt=""></a></li>
                        <li><a href="#"><img src="assets/img/ico_instagram.png" alt=""></a></li>
                    </ul>

                </div>
                <div class="footer_item footer_item3">
                    <h2>En savoir plus</h2>
                    <ul>
                        <li><a href="">Mentions Légales</a></li>
                        <li><a href="">La team Band Together</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>

                </div>
            </div>
            <p class="copyright"> BandTogether 2019 @ All Rights Reserved</p>
        </div>
    </footer>



{% endblock %}
