{% extends 'frontbase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link
    rel="stylesheet" href="{{ asset('assets/css/dropdown.css') }}">
    <!-- Font Awesome -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
{% endblock %}

{% block body %}

    <section class="home px_bg1">
        <a href="{{ path('home') }}#about">
            <h2 class="first">La musique se partage...</h2>
        </a>
        <h1>Band Together</h1>
        <a href="{{ path('home') }}#news">
            <h2 class="second">...Ne jouez plus seul</h2>
        </a>
        <p class="scroll-down">
            <a href="{{ path('home') }}#about" class="animate"></a>
        </p>
    </section>

    <section class="about" id="about">
        <div class="wrap">
            <p class="first">Vous en avez marre de jouer seul ? Vous avez envie de partager votre passion de la musique ?</p>
            <p class="second">Avec Band Together rangez votre pédale de loop et vos 18 instruments ! En quelques clics simplement, inscrivez vous pour trouver des musiciens près de chez vous et organisez des boeufs d'enfer !</p>
            <p class="third">De l'entrainement de fond du garage, à la répétition pro, que vous soyez débutant ou que la musique soit votre métier, trouvez les partenaires qui vous correspondent, pour monter un groupe ou simplement vous amusez occasionnellement...</p>
            <a class="registration" href="{{ path('register') }}">Je m'inscris !</a>
            <p class="scroll-down">
                <a href="{{ path('home') }}#news" class="animate"></a>
            </p>

        </div>
        {# <a href="#news"><i class="fas fa-angle-double-down"></i></a> #}
    </section>

    <div class="px_bg4"></div>
    <section class="news" id="news">
        <div class="wrap">
            <p class="first">Restez connecté, ne ratez pas les nouveaux membres de votre région !</p>

            <div class="slideshow">
                <div class="item1">
                    <div class="last_users_container">
                        {% for lastUser in lastUsers | slice(0,4) %}
                            <div class="last_users_item">
                                <p class="username">{{ lastUser.username }}</p>
                                <div class="img_container">
                                    <img src="{{ asset('assets/img/instruments/016-bass.png') }}" alt="bass_icon">
                                </div>
                                <p class="departement">{{ lastUser.departement.nom }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="item2">
                    <div class="last_users_container">
                        {% for lastUser in lastUsers | slice(4,4) %}
                            <div class="last_users_item">
                                <p class="username">{{ lastUser.username }}</p>
                                <div class="img_container">
                                    <img src="{{ asset('assets/img/instruments/049-drums.png') }}" alt="bass_icon">
                                </div>
                                <p class="departement">{{ lastUser.departement.nom }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="item3">
                    <div class="last_users_container">
                        {% for lastUser in lastUsers | slice(8,4) %}
                            <div class="last_users_item">
                                <p class="username">{{ lastUser.username }}</p>
                                <div class="img_container">
                                    <img src="{{ asset('assets/img/instruments/043-triangle.png') }}" alt="bass_icon">
                                </div>
                                <p class="departement">{{ lastUser.departement.nom }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <a class="login" href="{{ path('app_login') }}">Je me connecte !</a>

        {# <a href="#contact"><i class="fas fa-angle-double-down"></i></a> #}
        <p id="dark">
            <a href="{{ path('home') }}#contact" class="animate"></a>
        </p>
    </section>

    <div class="px_bg3"></div>

    <section class="contact" id="contact">
        <div class="wrap">
            <h2>Contact</h2>
            <p class="first">Pour toutes vos questions, N'hésitez pas à nous écrire !</p>

            <form action="" method="POST">
                <label for="name">Nom</label>
                <input type="text" name="name" id="name" placeholder="Votre nom...">

                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Votre Email">

                <label for="message">Message</label>
                <textarea name="message" id="message" placeholder="Votre message"></textarea>

                <input type="submit" name="submitted" value="Envoyer">
            </form>
        </div>
        {# <a href="#footer"><i class="fas fa-angle-double-down"></i></a> #}
        <p class="scroll-down">
            <a href="{{ path('home') }}#footer" class="animate"></a>
        </p>
    </section>

    {#<div class="px_bg5"></div>#}
    <footer id="footer">
        <div class="wrap">
            <div class="footer_container">
                <div class="footer_item footer_item1">
                    <h2>Guide</h2>
                    <ul>
                        <li><a href="#">Comment utiliser band together ?</a></li>
                        <li><a href="{{ path('home') }}#contact">Besoin d'aide ?</a></li>
                    </ul>
                </div>
                <div class="footer_item footer_item2">
                    <h2>Suivez nous !</h2>
                    <ul>
                        <li><a href="#"><img alt="" src="assets/img/ico_facebook.png"></a></li>
                        <li><a href="#"><img alt="" src="assets/img/ico_twitter.png"></a></li>
                        <li><a href="#"><img alt="" src="assets/img/ico_instagram.png"></a></li>
                    </ul>

                </div>
                <div class="footer_item footer_item3">
                    <h2>En savoir plus</h2>
                    <ul>
                        <li><a href="">Mentions Légales</a></li>
                        <li><a href="">La team Band Together</a></li>
                        <li><a href="{{ path('home') }}#contact">Contact</a></li>
                    </ul>

                </div>
            </div>
            <p class="copyright">
                BandTogether 2019 @ All Rights Reserved</p>
        </div>
    </footer>


{% endblock %}
