{% extends 'dashboard.html.twig' %}

{% block title %}Style index{% endblock %}

{% block body %}
    <h1>Style index</h1>


<div id="content-wrapper">

      <div class="container-fluid">
            <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i> Liste des styles <a href="{{ path('style_new') }}">Create new</a></div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Categoerie</th>
                            <th>Editions</th>
                            <th>Supression</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for style in styles %}
                        <tr>
                            <td>{{ style.id }}</td>
                            <td>{{ style.nom }}</td>
                            <td>{{ style.categoerie }}</td>
                            <td><a class="btn btn-info" href="{{ path('style_edit', {'id': style.id}) }}">edit</a></td>
                            <td>{{ include('style/_delete_form.html.twig') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ paginator|raw }}
        </div>
    </div>
</div>


{% endblock %}
