{% extends 'userbase.html.twig' %}


{% block body %}
            <section id="search">

                <h1>Rechercher</h1>
                {% if user.departement == '' %}
                <p>N'oubliez pas de renseigner votre département dans votre <a href="{{ path('profile') }}">profil</a> pour que cette page soit personnalisée et affiche les membres proches de vous !</p> 
                <p>En attendant voici les derniers musiciens qui ont rejoint Band Together ! :</p>
                <p>Vous pouvez aussi utilisez la fonction de recherche pour trouver les membres qui correspondent à vos critères !</p>
                {% else %}
                <p>Voici les utilisateurs proches de vous selon le département renseigné dans votre <a href="{{ path('profile') }}">profil</a>. N'hésitez pas à le changer si besoin.</p>
                <p>Vous pouvez aussi utilisez la fonction de recherche pour trouver les membres qui correspondent à vos critères !</p>
                {% endif %}

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.instruments, { 'label': 'instrument' } ) }}
                    {{ form_row(form.departements, { 'label': 'departement' }) }}
                    <input type="submit" value="Rechercher">
                {{ form_end(form) }}

                <div class="users_container">
                    {% for user in lastUsers %}
                        <div class="user_item">
                            <p class="username">{{user.username}}</div></p>
                            <div class="img_container">
                                <img src="{{ asset('assets/img/instruments/016-bass.png') }}" alt="">
                            </div>
                            <p class="departement">
                                {% if user.departement is not null %}
                                    {{ user.departement.nom }}
                                {% else %}
                                    France
                                {% endif %}
                           </p>
                        </div>
                    {% endfor %}
                </div>

            </section>
        </div>
    </div>
{% endblock %}